<div class="cbp-l-inline">
    <div class="cbp-l-inline-left">
        <div class="row">
            <div class="col-sm-6 portfolio-tile videoWrapper">
                    <iframe id="K9hm4zwfheM"
                            width="640" height="360"
                            src="https://www.youtube.com/embed/K9hm4zwfheM?enablejsapi=1&rel=0&amp;controls=0&amp;showinfo=0"
                            frameborder="0"
                    ></iframe>
            </div>
        </div>
    </div>
    <div class="cbp-l-inline-right">
        <div class="cbp-l-inline-title">IQ Option</div>
        <div class="cbp-l-inline-subtitle">International</div>
        <div class="cbp-l-inline-desc"></div>
        <a href="https://goo.gl/y7R255" target="_blank" class="cbp-l-inline-view btn blue btn-outline">Visit Website</a>
        <a href="javascript:;" 
            data-style="expand-right" data-size="l"
            target="_blank" 
            class="cbp-l-inline-view ladda-button btn green btn-claim" 
            style="display: none;">
            <i class="fa fa-dollar"></i> <span class="ladda-label">1.00</span></a>
    </div>
</div>

<script type="text/javascript">

  App.video = {};
  App.video.watched = false;

  var tag = document.createElement('script');
  tag.id = 'iframe-demo';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;

  setTimeout(function() {
    onYouTubeIframeAPIReady();
  }, 2000);
  
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('K9hm4zwfheM', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
    });
  }

  function onPlayerReady(event) {
    App.video.duration = player.getDuration();
    App.video.watched = false;
  }
  
  function changeBorderColor(playerStatus) {
    
    var color;
    
    if (playerStatus == -1) {
      color = "#37474F"; // unstarted = gray
    } else if (playerStatus == 0) {
      color = "#FFFF00"; // ended = yellow
      if(player.getCurrentTime() > (player.getDuration() - 10))
        App.video.watched = true;
      console.log('setting watched');
    } else if (playerStatus == 1) {
      color = "#33691E"; // playing = green
    } else if (playerStatus == 2) {
      color = "#DD2C00"; // paused = red
    } else if (playerStatus == 3) {
      color = "#AA00FF"; // buffering = purple
    } else if (playerStatus == 5) {
      color = "#FF6DOO"; // video cued = orange
    }

    if (color) {
      document.getElementById('K9hm4zwfheM').style.borderColor = color;
    }

  }

  function onPlayerStateChange(event) {
    changeBorderColor(event.data);
    if(player.getCurrentTime() > (player.getDuration() - 10))
        App.video.watched = true;
  }

    var token = jQuery('meta[name="_token"]').attr('content');
    var video = jQuery('iframe').attr('id');

    jQuery.get('/api/videos', { _token: token, video:video}, function(e) {
        if(e.status == 'watched') return;
        if(e.status == 'limit') return;
        jQuery('.btn-claim').show();
    });


  jQuery('.btn-claim').on('click', function(e) {

    e.stopPropagation();
    e.preventDefault();

    if(!App.video.watched) return swal("Oops!", "You need to watch the full video.", "warning");


    var token = jQuery('meta[name="_token"]').attr('content');
    var video = jQuery('iframe').attr('id');

    var l = Ladda.create(this);
        l.start();

    setTimeout(function() {
        jQuery.get('/api/videos', { _token: token, video:video, verify:true },function(e) {
            if(e.status != 'success') return
                swal("Success!", "Your video bonus has been verified", "success");
                l.stop();
                jQuery('.btn-claim').hide();
        });
    }, 1000);

  });




</script>